@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #384751;
	font-family: 'Source Code Pro', sans-serif;
}

a {
	color: #6f8493;
}

a:visited {
	color: #6f8493;
}

#canvas-1 {
	margin: 20px auto;
	display: block;
	border: 2px solid #000;
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
	background-color: #fff;
}

.dashboard {
	width: 800px;
	margin: 0 auto;
}

.column-left {
	float: left;
	width: 50%;
	padding-right: 15px;
}

.column-right {
	float: left;
	width: 50%;
	padding-left: 15px;
}

.arrow-keys-container {
	position: relative;
	margin: 0 auto;
}

.use-arrow-keys-message, .use-arrow-keys-message-visible {
	display: none;
	position: absolute;
	border-radius: 15px;
	background-color: #fff;
	padding: 30px;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.use-arrow-keys-message-visible {
	display: block;
	-webkit-animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	25% { opacity: 0.8; }
	75% { opacity: 0.8; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	25% { opacity: 0.8; }
	75% { opacity: 0.8; }
	100% { opacity: 0; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	25% { opacity: 0.8; }
	75% { opacity: 0.8; }
	100% { opacity: 0; }
}

.arrow-keys {
	margin: 15px auto;
	display: block;
}

.stats {
	color: #fff;
	width: 400px;
	height: 100px;
	margin: 15px auto;
	padding: 15px;
}

.console {
	color: #00e110;
	background-color: #000;
	height: 250px;
	margin: 15px auto;
	padding: 15px;
	overflow: auto;
}

#console-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#canvas-2 {
	display: none;
}